<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459682376531-r4vjub32sl1vron7d6pkpt1akqb5m7cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459682376531-r4vjub32sl1vron7d6pkpt1akqb5m7cg</string>
	<key>API_KEY</key>
	<string>AIzaSyCGn4gpU6iXeL8WkxqYjxycT0NQgP9SqIc</string>
	<key>GCM_SENDER_ID</key>
	<string>459682376531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mazzadi.app</string>
	<key>PROJECT_ID</key>
	<string>mazadi-2fa02</string>
	<key>STORAGE_BUCKET</key>
	<string>mazadi-2fa02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459682376531:ios:e844026a15a096a301cfa6</string>
</dict>
</plist>